

h1 {
    color: red;
    text-align: center;
    size: 40px;
    font-size: 40px;
}

body {
    background-color: #fff;
}

¤alajaamataust{
    background-attachment: fixed;
}
#alajaam {
    position: relative;
    background-color: #09f;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#alajaamanimi {
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #fff;
}

p {
    font-family: verdana;
    font-size: 20px;
}
error_reporting(E_ALL);
ini_set('display_errors', 1);