<!DOCTYPE html>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="format/ef_main.css">
<title>Sisse logimine</title>

<body onload="startTime()">
    <header>Elektrotehnika ülesanded
    <div id="aeg"></div></header>

    <nav>
        <p>Vali soovitud ülesande tüüp:</p>
        <img id="alustame" align="right" alt="" style="size: width: 300px; height: 300px" src="img/index.jpg">

        <form id="vorm">
            <input type="radio" name="tase" id="tase" value=1 onclick="document.getElementById('alustame').src='img/quiz.jpg'"> küsimustik<br>
            <input type="radio" name="tase" id="tase" value=2 onclick="document.getElementById('alustame').src='img/dc.png'"> ahel<br>
            <input type="radio" name="tase" id="tase" value=3 onclick="document.getElementById('alustame').src='img/ac.jpg'">graafik <br>

            <p>Sisesta andmed:</p>
                <input type="text" id="eesnimi" name="eesnimi" class="kasutaja" onchange="kasutaja()"><br>
                <input type="text" id="perenimi" name="perenimi" class="kasutaja" onchange="kasutaja()"><br>

                <button formmethod="post" formaction="../Controller/start.php">Logimine</input>
        </form>
    </nav>


    <footer>Copyright &copy; The dog</footer>
    <script src="../Controller/Index.js"></script>
    <script src="../Model/tasks/Taimer.js"></script>
</body>

</html>