<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>Elekter</title>
    <link rel="stylesheet" type="text/css" href="format/yl1_ef.css">
    <link rel="stylesheet" type="text/css" href="format/ef_main.css">

    <script src="../Controller/jquery-3.2.0.js"></script>
    <script src="../Controller/yl1-control.js" ></script>

</head>

<body onload="yl10()">

    <header>Alalisvoolu ül
        <div onload="sessionTimer()" id="sessioon"></div>
        <div  id="punktid" name="punktid"></div>
    </header>

    <p>Arvutada etteantud takistuse ja pingeallikaga ahela voolud</p>
    <p>Selleks kasutada kontuurvoolu meetodit</p>
    <p>F12 konsoolis on toodud õiged vastused kontrollimise lihtsustamiseks</p>

    <nav id="vorm" >
        <a>Rekv</a><input type="text" id="R345"><br>
        <div id="teineetapp">
        <a> I1</a><input type="text" id="I1"><br>
        <a> I2</a><input type="text" id="I2"><br>
        <a> I34</a><input type="text" id="I34"><br>
        </div >
        <div id="kolmasetapp">
            <a>U10</a><input type="text" id="U10"><br>
            <a>U20</a><input type="text" id="U20"><br>
            <a>U30</a><input type="text" id="U30"><br>
        </div>
        <div id="neljasetapp">
            <a> I3</a><input type="text" id="I3"><br>
            <a> I4</a><input type="text" id="I4"><br>
        </div>

        <button name="kontroll" id="kontroll" onclick="vajutaKontroll()" > Saada</button><br>
        <img id="tehtud" src="tehtud.png" style="visibility: hidden">



        <form>
            <input type="text" id="punkte" name="punkte" style="visibility: hidden">
            <button id="saada"  name="saada" formmethod="post"  formaction="../Model/send.php" style="visibility: hidden" >LÄBI</button>

        </form>


    </nav>


    <section id="ahel" onmousemove="alalisvool()">
            <div id="scheme00" class="line vertical" name="scheme0"></div>
            <div id="scheme30" class="line vertical" name="scheme2"></div>
            <div id="scheme40" class="line vertical" name="scheme2"></div>
            <div id="scheme20" class="line vertical" name="scheme?"></div>

            <div id="scheme53" class="line vertical" name="scheme5"></div>
            <div id="scheme31" class="line vertical" name="scheme5"></div>
            <div id="scheme52" class="line vertical" name="scheme4"></div>
            <div id="scheme51" class="line vertical" name="scheme5"></div>
            <div id="scheme41" class="line vertical" name="scheme5"></div>
            <div id="scheme54" class="line vertical" name="scheme2"></div>

            <div id="scheme01" class="line horizontal" name="scheme0"></div>
            <div id="scheme02" class="line horizontal"  name="scheme1"></div>

            <div id="scheme13" class="line horizontal" name="scheme2"></div>

            <div id="scheme21" class="line horizontal" name="scheme2"></div>
            <div id="scheme22" class="line horizontal" name="scheme?"></div>

            <div id="scheme50" class="line horizontal2" name="scheme5"></div>
            <div id="E1" class="skeemielement"></div>
            <div id="E2" class="skeemielement"></div>
            <div id="R1"  class="skeemielement"></div>
            <div id="R2"  class="skeemielement"></div>
            <div id="R3"  class="skeemielement"></div>
            <div id="R4"  class="skeemielement"></div>
            <div id="R5"  class="skeemielement"></div>


    </section>

    <footer>Copyright &copy; The dog</footer>
<!--<script src="../Model/SessionTaimer.js"></script>!-->
    <script src="../Controller/yl1-values.js"></script>
<script src="../Controller/yl1-main.js"></script>
<script src="VisualControl/yl1-schema.js"></script>
</body>
</html>