<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Küsimustik</title>
    <link rel="stylesheet" type="text/css" href="format/ef_main.css">
</head>
<body>
<header onload="start()">Küsimustik
    <div id="sessioon" onload="start()"></div>
    <div  id="punktid" name="punktid"></div>
    <p>Erinevad küsimused</p>

</header>
<nav id="vorm">
    <table border="1" id="tabel">
        <tr>
            <td><div name="1">1</div></td>
            <td><div name="2">2</div></td>
            <td><div name="3">3</div></td>
            <td><div name="4">4</div></td>
        </tr>
        <tr>
            <td><div name="5">5</div></td>
            <td><div name="6">6</div></td>
            <td><div name="7">7</div></td>
            <td><div name="8">8</div></td>
        </tr>
    </table>

</nav>
<section class="kysimustik"  >


<p>Kuidas arvutatakse mahtuvusliku komponendi Reaktiivtakistust?</p>
        <input type="radio" id="3" value=1 name="1">Xc=1/(C*w*f)<br>
        <input type="radio" id="2" value=0 name="1">Z=R+Xc<br>
        <input type="radio" id="1" value=0 name="1">Xl=L*w*f<br>
        <input type="radio" id="4" value=0 name="1">Z=R<br>
<p>kuidas arvutatakse induktiivkomponendi Reaktiivtakistust?</p>
        <input type="radio"  id="1" value=0  name="2"  >Xc=1/(C*w*f)<br>
        <input type="radio" id="2" value=0   name="2"  >Z=R+Xc<br>
        <input type="radio" id="3"   value="1"  name="2"  >Xl=L*w*f<br>
        <input type="radio" id="4" value=0  name="2"   >Z=R<br>
<p>kuidas arvutatakse aktiivkomponendi näivtakistust?</p>
    <input type="radio" id="1" value=0  name="3"   >Xc=1/(C*w*f)<br>
    <input type="radio" id="2" value=0  name="3"    >Z=R+Xc<br>
    <input type="radio" id="4"  value=0 name="3"    >Xl=L*w*f<br>
    <input type="radio" id="3"  value=0  name="3"   >Z=R

<p>Kuidas tähistatakse näivvõimsust?</p>
        <input type="radio" id="3" value="1" name="4"    >S<br>
        <input type="radio" id="2"  value=0  name="4"  >Q<br>
        <input type="radio" id="1"  value=0 name="4"   >P<br>
        <input type="radio" id="4" value=0  name="4"   >MVA<br>
<p>Mis talitlusel töötab voolutrafo?</p>
        <input type="radio" id="1" value=0  name="5"   >normaaltalitusel<br>
        <input type="radio" id="3"  value="1" name="5"    >lühistalitusel<br>
        <input type="radio" id="2"  value=0  name="5"   >niisama-talitlusel<br>
        <input type="radio" id="4"  value=0  name="5"   >nagu iga trafo<br>
<p>Kui palju eraldab 40 ohmine takisti soojust, kui teda läbib vool suurusega 5A?</p>
        <input type="radio" id="1" value=0  name="6"    >120W<br>
        <input type="radio" id="2" value=0  name="6"   >450W<br>
        <input type="radio" id="4" value=0  name="6"   >8W<br>
        <input type="radio" id="3" value="1" name="6"   >200W<br>
    <button id="kontrollimine" onclick="kontroll()">Kontrollimine</input>

    <form>
        <input type="text" id="punkte" name="punkte" style="visibility: hidden">
        <button id="saatmine" formmethod="post" formaction="../Model/send.php" ">Logimine</input>
        </form>
</section>



<script src="../Controller/yl20.js"></script>
<script src="../Model/tasks/Taimer.js"></script>
<footer>Copyright &copy; The dog</footer>
</body>
</html>